.nav {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

[data-container].info {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
}

.info_item {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.info_lang {
  margin-left: 24px;
}

.info_right {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.active {
  color: green;
}

.logo_hover {
  display: none;
}

.logo {
  &:hover {
    img {
      display: none;

      &.logo_hover {
        display: block;
      }
    }
  }
}
