$min-container: 1250px;

.btn {
  color: var(--color-white);
  border: none;
  margin: 0;
  background-color: var(--color-primary);
  padding: 16px 24px;
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 32px;
  cursor: pointer;
  display: block;
  text-decoration: none;

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(253, 255, 245, 0.7);
}

.header_container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 16px 0;
  margin-right: 16px;
  text-shadow: 1px 1px 1px rgb(88 88 88 / 20%);
}

.langs {
  margin-left: auto;
}
.lang_link {
  font-weight: bold;
  text-decoration: none;
  margin-left: 12px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}

.lang_link_active {
  color: var(--color-primary-dark);
  border-bottom-color: var(--color-primary-dark);
}

// main_section

.main_section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main_figure {
  display: flex;
  width: 50%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

.main_section_heading {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: calc((100% - var(--width-container)) / 2 + 16px);
}

.title {
  font-size: 38px;
  margin: 0;
  padding-bottom: 16px;
}

.descr {
  margin: 0;
  font-size: 18px;
}

.header_btn {
  margin-top: 32px;
}
