:root {
  --color-primary: #1a9fdb;
  --color-primary-dark: #0073a7;
  --color-white: #fefff9;
  --color-dark: #363636;
  --color-light: #aaaaad;
  --color-light-grey: #f4f4f4;
  --color-success: #008478;
  --color-success-dark: #01645b;
  --color-soft: #fff8e6;
  --color-lime: #fff9eb;
  --color-border: #ddd;
  --color-dawn: #179fdd;
  --color-orange: #efb200;
  --color-white05: #fdfff5;
  --width-container: 1360px;
  --font-header: 'Comfortaa', cursive;
  --box-shadow: 0 5px 20px 0 rgb(2 48 37 / 20%);
}

* {
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  font-weight: 400;
  padding: 0;
  margin: 0;
  min-width: 1220px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  //background: linear-gradient(-45deg, var(--color-lime), var(--color-white));
  background: var(--color-soft);
  // background-size: 400% 400%;
  // animation: gradient 15s ease infinite;
  color: var(--color-dark);
}

a {
  color: inherit;
}

figure {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
  margin: 0;
  appearance: none;
  cursor: pointer;
  padding: 0;
}

[data-container] {
  width: var(--width-container);
  max-width: 100%;
  padding: 0 16px;
  max-width: 100%;
  margin: 0 auto;
}

[data-mt8] {
  margin-top: 8px;
}

[data-mb8] {
  margin-botom: 8px;
}

[data-center] {
  text-align: center;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

#anchor-form {
  position: absolute;
  left: 0;
  top: -132px;
}

[data-heading] {
  position: relative;
  text-align: center;
  font-size: 48px;
  font-family: var(--font-header);
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 48px;

  &::before {
    width: 300px;
    height: 1px;
    content: '';
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--color-border);
    position: absolute;
  }

  &::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    content: '';
    bottom: -32px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--color-dawn);
    position: absolute;
    border: 12px solid var(--color-soft);
  }
}

[data-content] {
  font-size: 16px;

  p {
    margin-bottom: 8px;
  }

  img {
    border-radius: 8px;
    box-shadow: 0 10px 25px 0 rgb(2 48 37 / 20%);
  }
}

[data-figure] {
  flex-shrink: 0;
  padding: 100px;
  position: relative;
  padding-left: 0;
  padding-bottom: 48px;

  img {
    position: relative;
    z-index: 2;
    border-radius: 8px;
    box-shadow: 0 10px 25px 0 rgb(2 48 37 / 20%);
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 46px;
    top: 46px;
    z-index: 1;
    width: 170px;
    height: 150px;
    background: url(/pattern.svg) no-repeat;
  }

  &:after {
    left: -56px;
    bottom: -8px;
    top: auto;
    right: auto;
  }
}
