$min-container: 1250px;
$tablat: 1030px;
$tablet-middle: 991px;
$tablet-min: 768px;
$phone-big: 620px;
$phone: 480px;
$phone-min: 420px;

.footer {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 24px 0;
}

.langs {
  margin-left: auto;
}
.lang_link {
  font-weight: bold;
  text-decoration: none;
  margin-left: 12px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}

.lang_link_active {
  color: var(--color-primary-dark);
  border-bottom-color: var(--color-primary-dark);
}

.footer_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
