@import '../layout/var.scss';

.container {
  display: flex;
  padding-bottom: 64px;

  @media (max-width: $tablet-min) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
}

.figcaption {
  width: 100%;
  padding-left: 16px;
  padding-top: 32px;
  padding-right: 64px;
  text-align: center;

  @media (max-width: $tablat) {
    padding-right: 0;
  }

  @media (max-width: $tablet-min) {
    padding: 0;
  }

  h1 {
    font-size: 58px;
    font-family: var(--font-header);
    font-weight: 700;
    margin-top: 57px;

    @media (max-width: $tablat) {
      font-size: 40px;
      margin-top: 24px;
    }

    @media (max-width: $phone) {
      font-size: 28px;
      margin-top: 8px;
    }
  }

  h2 {
    font-size: 30px;

    @media (max-width: $tablat) {
      font-size: 22px;
    }

    @media (max-width: $phone) {
      font-size: 17px;
    }
  }

  p {
    font-size: 26px;
  }
}

.link {
  margin-top: 32px;
  margin-right: 32px;

  @media (max-width: $phone) {
    margin: 16px 8px 0;
  }
}

.content {
  padding-bottom: 64px;

  p {
    text-indent: 12px;
  }

  img {
    float: right;
    margin-left: 32px;

    @media (max-width: $phone-big) {
      float: none;
      display: block;
      margin: 0 auto 16px;
    }
  }
}

.license {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-min) {
    img {
      width: 64px;
      flex-shrink: 0;
    }
  }

  figcaption {
    padding-left: 32px;
    font-size: 38px;

    @media (max-width: $tablat) {
      font-size: 26px;
    }

    @media (max-width: $tablet-min) {
      padding-left: 16px;
      font-size: 18px;
    }
  }
}

.info {
  margin-top: -32px;
  padding-bottom: 32px;

  @media (max-width: $tablet-min) {
    margin-top: 0;
  }

  p {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 16px;
    text-indent: 32px;

    @media (max-width: $tablat) {
      font-size: 20px;
    }

    @media (max-width: $phone) {
      font-size: 16px;
      text-indent: 16px;
    }
  }
}

.sert {
  margin-bottom: 64px;
  text-align: center;

  @media (max-width: $phone) {
    margin-bottom: 24px;
  }
}
